:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: rgba(0, 0, 40, 1);
  --decor-elem: flex;
  --title-color: rgba(219, 0, 255, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --accent-color-text: rgba(255, 0, 112, 1);
  --accent-contrast-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --drop-shadow: rgba(255, 0, 112, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: rgba(0, 0, 40, 1);
    --decor-elem: flex;
    --title-color: rgba(219, 0, 255, 1);
    --accent-color: rgba(255, 0, 112, 1);
    --accent-color-text: rgba(255, 0, 112, 1);
    --accent-contrast-color: rgba(0, 0, 40, 1);
    --text-color: rgba(241, 178, 206, 1);
    --drop-shadow: rgba(255, 0, 112, 1);
  }
}