:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: rgba(255, 241, 247, 1);
  --decor-elem: none;
  --title-color: rgba(255, 194, 230, 1);
  --accent-color: rgba(53, 52, 48, 1);
  --accent-color-text: rgba(53, 52, 48, 1);
  --accent-contrast-color: rgba(53, 52, 48, 1);
  --drop-shadow: rgba(255, 141, 203, 1);
  --text-color: rgba(53, 52, 48, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: rgba(255, 241, 247, 1);
    --decor-elem: none;
    --title-color: rgba(255, 194, 230, 1);
    --accent-color: rgba(53, 52, 48, 1);
    --accent-color-text: rgba(53, 52, 48, 1);
    --accent-contrast-color: rgba(53, 52, 48, 1);
    --drop-shadow: rgba(255, 141, 203, 1);
    --text-color: rgba(53, 52, 48, 1);
  }
}